<!-- views/index.handlebars -->

<div class='d-flex justify-content-between align-items-center mb-2'>
  <h2>Deleted List</h2>
  <div>
    <a type="button" class="btn btn-secondary" href='http://localhost:3000'>
      <i class="fas fa-arrow-left"></i>
    </a>
  </div>
</div>
<table class="table" id="artistsTable">
  <thead>
    <tr>
      <th>No</th>
      <th>Package Name</th>
      <th>Artist Name</th>
      <th>Release Date</th>
      <th>Audio</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr id="row_{{ id }}">
      <td>{{inc @index}}</td>
      <td>
        <img src="http://localhost:3000/images/{{ ImageURL }}" alt="" width='50' , height='50'>
        {{PackageName}}
      </td>
      <td>{{ArtistName}}</td>
      <td>{{tts ReleaseDate}}</td>
      <td>
        <button class="audio-control btn-sm btn-warning shadow-none" data-audio="{{ SampleURL }}">
          <i class="fas fa-play fa-lg play-icon"></i>
          <i class="fas fa-stop fa-lg pause-icon" style="display:none"></i>
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-primary" data-id="{{ id }}" onclick='revert(this)'><i class="fas fa-undo"></i></button>
        <button type="button" class="btn btn-danger" data-id="{{ id }}" data-mode="force" onclick='remove(this)'><i class="fas fa-trash"></i></button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
